<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="left">
        <h1> Recipe API</h1>
    </div>
    <div class="right">
        <input type="text" placeholder="Enter your yummy dish" class="flower">
        <button class="button">Test it</button>
        <textarea name="about" id="about" cols="80" rows="2"></textarea>
        <textarea name="item_description" id="item_description" cols="80" rows="2"></textarea>
    </div>
    <div class="list">
        <h2>Choose a meal to see a recipe</h2>
        <ul>
            <li>Spaghetti Bolognese</li>
            <li>Margherita Pizza</li>
            <li>Lasagna</li>
            <li>Risotto</li>
            <li>Frittata</li>
            <li>Gnocchi</li>
            <li>Carbonara</li>
            <li>Minestrone Soup</li>
            <li>Panzanella</li>
            <li>Tiramisu</li>
        </ul>
    </div>
</body>
<script src="/script.js">

</script>

</html>