<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flower APi</title>
        <link rel="stylesheet" href="/style.css">
    </head>    
    <body>
    <div class="left"><h1>Flower API</h1>
        <h2>Why you trappin so hard?</h2>
        <h3>Unofficial Flower API</h3>
        <p>Fetch Api From: https://group-flower-pics.onrender.com/api/:flowername</p>
    </div>
    <div class="right">
        <input type="text" class="flower">
        <button class="button">Test it</button>
        <textarea name="about" id="about" cols="80" rows="2"></textarea>
        <img src="" alt="" height="500vh">
    </div>
    </body>
    <script src="/script.js">
        
    </script>
</html>