<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flower APi</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="left">
        <h1>Flower API</h1>
    </div>
    <div class="right">
        <input type="text" class="flower">
        <button class="button">Test it</button>
        <textarea name="about" id="about" cols="80" rows="2"></textarea>
        <img src="" alt="" height="500vh">
    </div>
    <div class="list">
        <h2>Choose from flowers below</h2>
        <ul>
            <li>Roses</li>
            <li>Sunflowers</li>
            <li>Peonys</li>
            <li>Hyacinths</li>
            <li>Daffodils</li>
            <li>Carnations</li>
            <li>Daisys</li>
            <li>Tulips</li>
            <li>Lilys</li>
            <li>Orchids</li>
        </ul>
    </div>
</body>
<script src="/script.js">

</script>

</html>