#about {
    display: none;
    text-align: center;
}

#item_description {
    display: none;
    text-align: center;
}
/* */

input { 
    text-align: center; 
}

body {
    text-align: center;
}

.right>* {
    margin: 2vh auto;
}

ul li {
    list-style: none;
    text-align: center;
}

button {
    background-color: aqua;
}