#about {
    display: none;
}

body {
    text-align: center;
}

div {
    flex-basis: 50%;
}

.right>* {
    margin: 2vh auto;
}

ul {
    list-style-position: inside;
    /* Move bullet points inside the list item */
    text-align: center;
    /* Center-align the text */
}

button {
    color: aqua;
}